/* .container{
    background-color:aquamarine
}

.container-fluid{
    background-color:bisque
}

.container-sm{
    background-color: chocolate;
}

.container-md{
    background-color: gold;
}

.container-lg{
    background-color: blueviolet;
}

.container-xl{
    background-color: chartreuse;
}

.container-xxl{
    background-color: rgb(234, 0, 255);
} */